<html>
  <head>
    <title>ssb.yomills.com</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>
  <body>
    <main>
      <h1>ssb.yomills.com</h1>
        <p>This page offers invite codes to the yomills.com ssb pub. They can be redeemed using one of the
          <a href="https://www.scuttlebutt.nz/applications">many scuttlebutt applications.</a>
        </p>
        <h2>more fun links</h2>
        <ul>
          <li><a href="https://www.scuttlebutt.nz/concepts/pub">Pubs Explained</a></li>
          <li><a href="https://github.com/ssbc/">Secure Scuttlebutt Consortium </a></li>
        </ul>
        <div>
          <img src="hermies-watering.gif" />
          <h2>get invite</h2>
          <div>
            <button id="inviteBtn">Click for a pub invite</button>
          </div>
          <div>
            <pre id="invite">...</pre>
          </div>
        </div>
    </main>
    <script src="script.js"></script>
  </body>
</html>